<div class="row">
  <!--this row contains toolbar-->
  <!-- <app-toolbar></app-toolbar> -->
</div>

<div class="row">
  <!--this row is main content row-->
  <div class="col-md-2 col-lg-2" style="min-height: 500px">

    <div class="row">
      <app-control-set></app-control-set>
    </div>
  </div>

  <div class="col-md-8 col-lg-8">
    <app-workspace></app-workspace>
  </div>

  <div class="col-md-2 col-lg-2">
    <app-properties-setting></app-properties-setting>
  </div>
</div>


<div class="row">

</div>
